.footer > .container {
    padding: 50px 30px 10px;
}
.footer {
    //Footer top
    &__top {
        padding: 50px px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: flex-start;
        // smartphone
        @media screen and (max-width: 768px) {
	    & {
        grid-template-columns:  270px;
        justify-content: center;
            }

        }
    }
    &__list {
        list-style: none;
        color: $primaryFooterColor;
        line-height: 35px;
        &--info {
            line-height: normal;
        }
    }
    &__item {
        font-size: 1.25em;
        font-weight: 400;
    }
    &__title {
        text-transform: uppercase;
        padding: 15px 0;
        color: $primaryFooterColorTitle;
        font-size: 2em;
        font-weight: 700;
    }
    &__link {
        text-decoration: none;
        color: $primaryFooterColor;
    }
    //Footer bottom
    &__bottom {
    height: 120px;;
    width: 100%;
    background: url(../images/footer-montagne-bottom.jpg) no-repeat center center;
    background-size: cover;
    }
}
