.footer {
    //Footer top
    &__top {
        padding: 50px 40px 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
      }
    &__col {

    }
    &__title {
        text-transform: uppercase;
        padding: 15px 0;
        color: $primaryFooterColorTitle;
        font-size: 2em;
        font-weight: 700;

    }
    &__link {
        text-decoration: none;
        color: $primaryFooterColor;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 35px;
    }
    //Footer bottom
    &__bottom {
    height: 120px;;
    width: 100%;
    background: url(../images/footer-montagne-bottom.jpg) no-repeat center center;
    background-size: cover;
    }
}
