.main-prodotti {
    position: relative;
    margin-top: 20px;
    padding: 40px 10px 10px;;
    background-color: #b7dae5;
    width: 100%;

    & > .container {
        @include my-display-flex(column, center, center);
        padding: 0 30px;

    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5em;
        color: $primaryTitleColor;
        font-weight: 700;
        padding: 10px 0;
    }
    &__figure {
        min-width: 400px;
        height: 100%;
    }
    &__image {
        width:100%;

    }
    &__text {
        font-size: 2em;
        line-height: 70px;
        color: $primaryTitleColor;
    }
    &__link {
        width: 50px;
        height: 100px;
        background-color: #dbecf2;
        @include my-display-flex(row, center, center);
        &--sx {
           @include my-display-absolute (50%, none, none, 0);
        }
        &--dx {
            @include my-display-absolute (50%, 0, none, none);
        }
    }
    & .fa-angle-left, & .fa-angle-right {
        font-size: 3em;
        color: #fff;
    }
}

// tablet
@media screen and (max-width: 992px) {
	.main-prodotti__text {
        font-size: 1.5em;
    }
}
// smartphone
@media screen and (max-width: 768px) {
	.main-prodotti__text {
        font-size: 1.1em;
    }
}
